---
---
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.data.settings.church_name}}</title>
  <meta name="description" content="{{site.data.settings.description}}">

  <link rel="stylesheet" href="{{site.url}}/app.css">
  <link rel="canonical" href="{{site.url}}/">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' rel='stylesheet' />
  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.css' rel='stylesheet' media='print' />
  <style>
  .content-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
</head>
  <body>

    {% include header.html %}
      <div class="content-wrapper">
<div id='calendar'></div>
<div class="calendar-list">
<div class="calendar-list-content">
    {% for event in site.events limit: 6 %}
    {% capture now-unix-seconds %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture event-time-seconds %}{{event.start_at | date: '%s' }}{% endcapture %}
    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}
    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}
    {% if now-unix <= event-time %} 
    <div class="calendar-list-item">
        {% if event.featured_image %}
        <img src="{{event.featured_image}}" alt="{{event.event_name}}">
        {% else %}
        <img src="{{site.data.settings.default_calendar_image}}" alt="">
        {% endif %}

        <div class="details">
            <h3><a href="{{ event.url }}">{{event.title}}</a></h3>
            <div class="details-inner">
                <div class="details-description">
                    {% if event.description_markdown  %}
                    {{ event.description_markdown | markdownify | truncatewords: 20 }}
                    {% endif %}
                    <a href="{{ event.url }}" class="button hollow">More Details</a>
                </div><!--/details-description-->
                <div class="details-date">
                    <p class="month">{{event.start_at | date: "%b"}}</p>
                    <p class="day">{{event.start_at | date: "%d"}}</p>
                </div><!--/details-date-->
            </div><!--/details-inner-->
        </div><!--/details-->
    </div><!--/calendar-list-item-->
    {% endif %} 
    {% endfor %}
</div><!--/calendar-list-content-->
</div><!--/calendar-list-->
</div>
 {% include footer.html %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/gcal.js'></script>
    <script>
    $(document).ready(function(){
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      eventColor: '#716558',
      googleCalendarApiKey: 'AIzaSyBVd8t1-lhwkmXGfD9XRzE_85fcO5Fxa70',
      eventSources: [
      {events: [
        {% for a in site.events %}
            {
                "title": "{{a.title}}",
                "start": "{{a.start_at}}",
                "end": "{{a.end_at}}",
                "url": "{{a.url}}",
                "allDay": "{{a.all_day}}",
                "color" : "#BE552B"
            },
        {% endfor %}
            ]},
        {
          googleCalendarId: '{{site.data.settings.Google_calendar_id}}'
        }
        ]
    });
    });
    </script>
  </body>

</html>