---
layout: default
featured_image: http://dl.dropbox.com/u/47159282/0376.jpg
welcome_sections:
    -
        title: Welcome
        image: /uploads/5756.jpg
        content_markdown: |
            Welcome to Immanuel Baptist Church online! We are so excited that you are taking the time to visit our website. Thank you for your interest. On this site, you will find ministry information, our doctrinal stand, answers to frequently asked questions, audio sermons, and much more. I trust that this web site will be a help to you.

            Immanuel Baptist Church has been home for my wife and me for the past 13 years. We have enjoyed the journey of serving the King of kings from this city and from this place. Our Lord has blessed us with wonderful people who have hearts for the work of Christ. I trust that you will not only become acquainted with the ministry, but also come see us in the near future if at all possible.

            Should you have any questions, please feel free to send us a note at enriquecastro777@yahoo.com or call the church offices at (661) 725-0479.

            Please pray for us and for the work that our Lord is accomplishing at Immanuel Baptist. We would love to see you soon! God bless you.

            Your Friend, 
            Enrique Castro, pastor
    -
        title: FAQ
        image: 
        content_markdown: |
            
            ### How Should I Dress?
            
            There is not a dress code at Immanuel Baptist Church for members or guests. Our ministry leaders and many of our church family dress in more traditional “Sunday” dress; however, our main goal is that you would feel welcome and comfortable on your visit here at Immanuel Baptist!

            ### Am I Expected to Participate in the Offering?

            No. We don't invite you to Immanuel Baptist Church for your offering. We want our service to be a gift to you. We hope you will find in this place a warm family spirit, truth from God's Word, and a place where you can grow in God's grace. Please don't feel any obligation to participate in the offering as a guest.

            ### What about my children?

            IBC has Sunday school classes for your children at 10AM (led by their respective Sunday school teachers). IBC also provides a loving nursery for your infants and toddlers during all services.
    -
        title: Location
        image: 
        content_markdown: |
        
            Immanuel Baptist Church is located at 2327 Oxford St on the northeast side of Delano, just one block south of County Line Road.


---

<style type="text/css">
.welcomeHeader {
min-height: 400px;
background: url({{page.featured_image}}) no-repeat center center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
</style>

<div class="welcome">
    <div class="welcomeHeader">
        <h1 editable>Welcome to Immanuel Baptist Church</div><!-- /welcomeHeader -->
    <div class="content">
        {% for section in page.welcome_sections %}
        
        <div class="section">
            <div class="section-inner">
            <h2>{{section.title}}</h2>
            {% if section.image %}
            <img src="{{section.image}}" alt="">
            {% endif %}
            {{section.content_markdown | markdownify }}
            
            </div><!--/section-inner-->
        </div><!--/section-->
      {% endfor %}
        
           {% include map.html %}
        
    </div><!--/content-->
</div><!-- /welcome -->