---
layout: default
featured_image: /uploads/welcome.jpg
welcome_sections:
    -
        title: Visiting Our Church
        image: /uploads/visiting1.jpg
        content_markdown: |
            Visiting a church for the first time can be a scary experience. At Bible Baptist, we realize that and want to make you feel as much at ease as possible. At Bible Baptist, we focus on the timeless basics: worshipping God, studying God's Word, serving each other and seeking to make disciples of Jesus Christ. We think we've found something special at BBC. It's more than a church, it's a place where we feel "at home" and we want to welcome you to experience it to.
    -
        title: Our Services
        image: 
        content_markdown: |
            Services at Bible Baptist are traditional, but not in a stiff or formal way. There is no dress code for our services, and many people dress in both traditional church attire and more casual clothes. We try to keep the services as simple as possible, singing hymns (both old and new), receiving an offering, and hearing a Bible message. Our services almost always last slightly less than one hour.
    -
        title: Kids
        image: /uploads/kids.jpg
        content_markdown: |
            BBC has a lot going on for kids including Sunday School, Children’s Church for two age groups, and Patch the Pirate Clubs  on Thursday nights.  One different thing about our church is that our kids participate in the worship part of the Sunday Morning service and are dismissed to children’s church before the sermon.  **Nursery is provided for every service.**
    -
        title: Location
        image: 
        content_markdown: |
            Bible Baptist is located at the corner S 34th St. and Marion Ave in the southwest corner of Mattoon. Our church building facilities include ample parking, newly renovated nurseries and classroom space, a fellowship hall and gymnasium.


---

<style type="text/css">
.welcomeHeader {
min-height: 400px;
background: url({{page.featured_image}}) no-repeat center center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
</style>

<div class="welcome">
    <div class="welcomeHeader">
        <h1 editable>Welcome to Bible Baptist Church</div><!-- /welcomeHeader -->
    <div class="content">
        {% for section in page.welcome_sections %}
        
        <div class="section">
            <div class="section-inner">
            <h2>{{section.title}}</h2>
            {% if section.image %}
            <img src="{{section.image}}" alt="">
            {% endif %}
            {{section.content_markdown | markdownify }}
            
            </div><!--/section-inner-->
        </div><!--/section-->
      {% endfor %}
        
           {% include map.html %}
        
    </div><!--/content-->
</div><!-- /welcome -->