<ul>
    <li><i class="fa fa-phone"></i> <span>{{site.data.settings.phone }} </span></li>
    <li><i class="fa fa-map-marker"></i> <span>{{site.data.settings.address}} {{site.data.settings.address2}}</span></li>
    <li><span>{{site.data.settings.City }}, {{site.data.settings.State }} {{site.data.settings.Zip }} </span></li>
    <li> 
         {% if site.data.settings.facebook %}<a href="{{site.data.settings.facebook}}"><i class="fa fa-facebook"></i></a> {% endif %}
          {% if site.data.settings.twitter %}<a href="{{ site.data.settings.twitter }}"><i class="fa fa-twitter"></i></a> {% endif %}
          {% if site.data.settings.twitter %}<a href="{{ site.data.settings.twitter }}"><i class="fa fa-youtube"></i></a> {% endif %}
         <a href="{{site.url}}/update"><i class="fa fa-gear"></i></a></li>
</ul>