<footer>
    <div class="footer-wrapper">
        <div class="footer-info">
        <h3>{{site.data.settings.church_name}}</h3>
        <p class="editable">Delano, CA</p>
        <div class="address">
          {% include address.html %}
        </div><!--/address-->
    </div><!--/footer-info-->
    </div><!--/footer-wrapper-->
</footer>
</div><!--/ off canvas content wrapper-->
</div><!--/off canvas wrapper 2-->
</div><!--/ off canvas wrapper 1-->
<!-- this will include every plugin and utility required by Foundation -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
<script>
        $(document).foundation();
    </script>
