---
layout: default
---


<div class="blog-entry-page">
    <div class="blog-entry">
            {% if page.featured_image %}
            <img src="{{page.featured_image}}" alt="{{page.title}}" class="entry-image">
            {% else %}
            <img src="{{site.data.settings.main_blog_image}}" alt="Default Blog Image" class="entry-image">
            {% endif %}
            <div class="entry-text">
            <div class="entry-header">
                <h3>{{page.title}}</h3>
                <p class="description"><strong>Posted On:</strong> {{page.date| date: "%B %-d, %Y" }} {% if page.author %}• <strong>Author:</strong> {{page.author}}{% endif %}{% if page.categories %} • <strong>Category:</strong> {{page.categories}}{% endif %}</p>
            </div><!--/entry-text-->
            <div class="entry-description">
                {{content}}
            </div><!--/entry-description-->
            </div><!//entry-text-->
        </div><!--/blog-entry-->
        <a href="{{site.url}}/blog-list.html" class="button return-link"> <i class="fi-arrow-left"></i> Return to the List of Blog Posts</a>
</div>